* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}
html,
body {
    height: 100%;
    width: 100%;
}
a{
    text-decoration: none;
    color: black;
}
li{
    list-style: none;
}
header{
    width: 100%;
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5vw;
    box-shadow: 3px 0 5px rgba(0, 0, 0, 0.1);
}
#logo-container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#logo{
    height: 100%;
    object-fit: cover;
}
header nav{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
header nav ul{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4vw;
}
header nav ul li{
    list-style: none;
    font-size: 1.2vw;
    font-weight: 500;
    cursor: pointer;
}
.login{
    width: 6vw;
    padding: 0.2vw;
    text-transform: capitalize;
    font-size: 1.2vw;
}
#body{
    margin-top: 1vw;
}
.input-box{
    display: flex;
    gap: 0.5vw;
}
.input-box input{
    padding-left: 0.5vw;
}
#top-rated,
.show-more{
    height: 10vh;
    padding: 1vw 10vw;
    font-size: 1.6vw;
    display: flex;
    gap: 2vw;
}
#top-rated button{
    padding: 0.5vw 1vw;
    width: object-fit;
}
#res-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 4vw;
    margin-top: 2vw;
    
}
.in-res-container{
    width: 17%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 4vw;
    margin-top: 2vw;
}
.res-card{
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.res-card:hover{
    border:2px solid rgba(0, 0, 0, 0.2);
}

.res-logo{
    width: 100%;
    height: 50%;
    object-fit: cover;
}
.res-info{
    padding: 0 1vw;
}
.shimmer-container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4vw;
    margin-top: 2vw;
}
.shimmer-card{
    width: 17%;
    height: 50vh;
    background: #f0f0f0;
}

.res-menu{
    width: 100%;
    height: 100%;
    padding: 0.5vw 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.res-menu>h2{
    font-size: 2vw;
    font-weight: 600;
    text-align: left;
    width: 70%;
    margin-bottom: 1vw;
}
.res-menu-about{
    width: 70%;
    height: 10%;
    background: rgb(228, 228, 228);
    padding: 2vw 4vw;
    border-radius: 1vw;
}
.res-menu-about>p{
    display: flex;
    gap: 0.5vw;
    align-items: center;
}
.delivery-time{
    font-size: 1vw;
    margin-top: 0.8vw;
}
.starIcon{
    color: #f1c40f;
    font-size: 2vw;
    line-height: 1.5vw;
}
.menu{
    width: 70%;
    padding: 2vw 0;
}
.menu>h3{
    font-size: 1.8vw;
    margin-bottom: 1vw;
}
.user-card{
    width: 40%;
    border: 2px solid rgba(0, 0, 0, 0.2);
    margin-left: 10vw;
    margin-top: 2vw;
    padding: 2vw;
    display: grid;
    place-items: center;
    border-radius: 1vw;
    gap: 0.8vw;
    background: lightyellow;
}
.user-status{
    font-size: 0.8vw;
    background: lightblue;
    padding: 0.2vw 0.5vw;
    border-radius: 1vw;
}
.user-status-change{
    padding: 0.5vw 1vw;
}