* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}
html,
body {
    height: 100%;
    width: 100%;
}

header{
    width: 100%;
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5vw;
    box-shadow: 3px 0 5px rgba(0, 0, 0, 0.1);
}
#logo-container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#logo{
    height: 100%;
    object-fit: cover;
}
header nav{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
header nav ul{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4vw;
}
header nav ul li{
    list-style: none;
    font-size: 1.2vw;
    font-weight: 500;
    cursor: pointer;
}
.login{
    width: 6vw;
    padding: 0.2vw;
    text-transform: capitalize;
    font-size: 1.2vw;
}
#body{
    margin-top: 1vw;
    margin-left: 5vw;
}
#top-rated{
    width: 30vw;
    height: 10vh;
    padding: 1vw;
    font-size: 1.6vw;
}
#top-rated button{
    padding: 0.5vw 1vw;
}
#res-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 2vw;
    margin-top: 2vw;
}
.res-card{
    width: 17%;
    height: 50vh;
    cursor: pointer;
}
.res-card:hover{
    border:2px solid rgba(0, 0, 0, 0.2);
}

.res-logo{
    width: 100%;
    height: 50%;
    object-fit: cover;
}
.res-info{
    padding: 0 1vw;
}
.shimmer-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 2vw;
    margin-top: 4vw;
    margin-left: 5vw;
}
.shimmer-card{
    width: 17%;
    height: 50vh;
    background: #f0f0f0;
}